<nav class="navbar navbar-expand-lg navbar-expand-md nav-bar-expand-sm navbar-dark">
 <app-search-for-products-and-location></app-search-for-products-and-location>
 <div class="navbar-item"> <button class="btn mt-3 ml-3" style="display: inline-block;" data-toggle="modal" data-target="#exampleModalCenter"aria-hidden="true"><img src="../../assets/Icons/Icon material-chat_bubble_outline.svg" class="videoTutorialsIcon"><p class="videoTutorialsButton">Video Tutorials</p></button>
 </div>
<app-video-tutorial></app-video-tutorial>
</nav>

   
   

