.navbar{
    background-color:#011322;
    height: 6.25rem;
    box-shadow: 0px 5px 15px #0000000D;
    background-repeat: no-repeat;
  }
  .videoTutorialsIcon
  {
    color: #FFFFFF;
    opacity: 1;
  }
  .videoTutorialsButton
  {
    text-align: left;
    font-size:0.625rem;
    line-height:0.6875rem ;
    font-family:Roboto;
    letter-spacing: 0rem;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
  }





  
  