
  input:focus{
    outline:none;
  }
  .locationInput
  {
    position: relative;
  }
  /* .locationInput i{
    position: absolute;
    top: 43px;
    right:12px;
    color:gray;
  } */

  .dropdownForLocation
  {
    position: absolute;
  }
 .productSearch
 {
  /* border-radius: 48px 0 0 48px;
   width: 100%; */
   width: 22.6875rem;
   /* width: auto; */
   height: 3.125rem;
   /* margin:1.5625rem 0 1.5625rem 0rem; */
   /* top:1.562rem; */
   border-radius: 1.9375rem 0rem 0rem 1.9375rem;
   border-right: 0;
 } 
 #seeAll
 {
   width:94%;
   float: right;
   margin: 0;
   margin-bottom:0.3125rem;
   
 }
 .currentLocation
 {
  padding-left:0.5rem;
  font-weight:bold;
  font-size:1rem;
  line-height:1.1875rem;
  font-family: Roboto;
  color: #869658;
 }
 .currentLocationIcon
 {
   padding-left:1.0625rem;
   padding-top: 1rem;
 }
 .currentLocationElements
 {
   padding-top:1.5rem
 }
 .currentLocationName
 {
  padding-left:2.625rem;
  font-size:0.875rem;
  font-weight: normal;
  line-height:1.0625rem ;
  font-family:Roboto;
  color: #212529;
  padding-top: 0;
  margin: 0;
 }
 .recentLocationsHeading
 {
  
  font-size:0.75rem;
  line-height:0.875rem ;
  font-family:Roboto;
  color: #B0B5B9;
  padding-left: 0.9375rem;
  padding-bottom:0.9375rem;
 }
 .recentLocationsIcon
 {
   padding-left:1.5625rem;
 }
 .recentLocations{
  padding-left:0.9375rem;
  font-size:0.875rem;
  line-height:1.0625rem ;
  font-family:Roboto;
  padding-top: 0.9375rem;
  display: inline-block;
  margin-bottom: 0;
 }
 .popularLocationsIcon
 {
   padding-left:1.5625rem;
 }
 .popularLocations{
  padding-left:0.9375rem;
  font-size:0.875rem;
  line-height:1.0625rem ;
  font-family:Roboto;
  padding-bottom: 0.9375rem;
  padding-top: 0.9375rem;
  display: inline-block;
  margin-bottom: 0;
 }
 .popularLocationHeading
 {
   padding-left: 0.9375rem;
   color: #B0B5B9;
  font-size:0.75rem;
  line-height:0.875rem ;
  font-family:Roboto;
   padding-bottom:1.25rem;
 }

  
  .searchBar
  {
    border-radius: 3rem 0 0 3rem;
    border-right: 0;
  }
  .searchBarDropDown
  {
    max-width:100%; 
    /* width: 100%;  */
    /* padding:10px; */
    width: 22.6875rem;
    /* width: auto; */
    height: 17.3125rem;
    /* top: 4.5625rem;
    left:12.5625rem; */
    text-align: left;
  }
  .productSearchItems
  {
    text-align: left;
    font-size:0.875rem;
    line-height:1.0625rem ;
    font-family:Roboto;
    letter-spacing: 0.0175rem;
    color: #7E7E7E;
    opacity: 1;
    margin-bottom:0.6875rem;
    padding:0;
    padding-top:0.5rem;

  }
  .seeAllElement
  {
    text-align: left;
    font-weight:  bold;
    font-size: 0.75rem;
    line-height:0.875rem;
    font-family:  Roboto;
    letter-spacing: 0.015rem;
    color: #929292;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 0;
  }
  .hrClass
  {
    margin: 0;
  }
  .recentHeadingForDropDown
  {
    padding-top: 0.9375rem;
    font-size: 1rem; 
    color:#7E7E7E;
    left:1.625rem;
    font-size:1rem;
    font-weight: bold;
    line-height:1.1875rem ;
    font-family:Roboto;
    opacity: 1;
    margin-bottom:0.375rem;
  }
  .locationSearch
  {
    /* width:100%; border-radius: 0; */
    /* width: 13.5625rem; */
    width: auto;
    height: 3.125rem;
    background-color: #FFFFFf;
    border-radius: 0;
    /* padding-left:1.25rem; */
    /* border-right: 0; */
  }
  .locationDropDownIcon
  {
    position: absolute;
    color:gray;
    right: 0.8125rem;
    bottom: 1.1875rem;
  }
  #hrforLocationDropDown
  {
    width:85%;
    background-color:black;
  }
  .locationsearchDropDown
  {
    /* padding: 10px; width:100%; border-radius: 0; */
    /* max-width: 100%; */
    width: 13.5625rem;
    width: 100%;
    height: 27.8125rem;
    text-align: left;
    }
  .searchButton
  {
    /* background-color:#5C6D2E;
    border-radius: 0 48px 48px 0;
    height:92%;
    margin-top: 0.125rem; */
    /* width: 3.75rem; */
    width: auto;
    height: 3.125rem;
    background-color:#5C6D2E;
    border-radius: 0rem 1.875rem 1.875rem 0rem;
    opacity: 1;
    border: 0;
    color: #FFFFFF;
  }
  ::placeholder {
    /* width: 12.6875rem;
    height: 1.25rem; */
    opacity: 1;
    color: #959595;
    font-size:1.0625rem;
    line-height:1.0625rem ;
    font-family:Roboto;
  }
  .searchButtonIcon
  {
    width:1.5625rem;
    height:1.5625rem;
  }
/*   
  .search-results {
    width:auto;
}
.location-search {
    color: #6c8093;
    background-color: white;
} */


  
  