<!-- <div class="row no-gutters">
    <div class="col">
        <div class="searchBarForProducts">
            <input type="text" autocomplete="off"class="dropdown-toggle productSearch" id="menu2" name="productsearch" data-toggle="dropdown" placeholder="What Are You Looking For?">
            <ul class="dropdown-menu searchBarDropDown" role="menu" aria-labelledby="menu2">
                <li class="dropdown-item"><p class="recentHeadingForDropDown">Recent</p></li>
            </ul>
        </div>
    </div>
    <div class="col">
        <div class="locationInput">
            <input type="text" autocomplete="off" name="popularlocations" id="menu1" class="locationSearch" data-toggle="dropdown"placeholder="Location*">
            <i class="fa fa-caret-down locationDropDownIcon"></i>
            <div class="dropdownForLocation">
            <ul class="dropdown-menu locationsearchDropDown" role="menu" aria-labelledby="menu1">
                <li class="currentLocationElements">
                <img src="../../assets/website.png" class="currentLocationIcon" alt="currentLocation icon"/>
                <span class="currentLocation">Use current location<p class="currentLocationName">Carmel, Indianapolis</p></span>
                <hr id="hrforLocationDropDown">
                </li>
                <li class="recentLocationsHeading">RECENT LOCATIONS</li>
                <li><img src="../../assets/Icons/map-marker (1).svg" class="popularLocationsIcon"><p class="recentLocations">Hyderabad</p></li>
                <hr id="hrforLocationDropDown">
                <li class="popularLocationHeading">POPULAR LOCATIONS</li>
                <li><img src="../../assets/Icons/map-marker (1).svg" class="popularLocationsIcon"><p class="popularLocations">Hyderabad</p></li>
                <li><img src="../../assets/Icons/map-marker (1).svg" class="popularLocationsIcon"><p class="popularLocations">Vizag</p></li>
                <li><img src="../../assets/Icons/map-marker (1).svg" class="popularLocationsIcon"><p class="popularLocations">Vijayawada</p></li>
                <li><img src="../../assets/Icons/map-marker (1).svg" class="popularLocationsIcon"><p class="popularLocations">Delhi</p></li>
            </ul> 
           </div>
        </div> 
    </div>
    <div class="col">
        <div>
            <button class="position-absolute searchButton">
                <img src="../../assets/Icons/map-marker (1).svg" class="searchButtonIcon">
            </button> 
            <a href="#" class="nav-item nav-link ml-5 mt-2">
                <button class="btn" data-toggle="modal" data-target="#exampleModalCenter"aria-hidden="true"><img src="../../assets/Icons/Icon material-chat_bubble_outline.svg" class="videoTutorialsIcon"><p class="videoTutorialsButton">Video Tutorials</p></button>
            </a>     
        </div>
    </div>
</div>  -->

<div class="input-group"> 
   <div class="dropdown"> 
       <input type="text" autocomplete="off" placeholder="What are you looking for?" class="form-control dropdown-toggle productSearch" id="menu2" name="productsearch" data-toggle="dropdown">
    <ul class="dropdown-menu searchBarDropDown" role="menu" aria-labelledby="menu2">
        <li class="dropdown-item"><p class="recentHeadingForDropDown">Recent</p></li>
    </ul>
   </div>
   <div class="dropdown">
    <input type="text" autocomplete="off" placeholder="Location*" class="form-control dropdown-toggle locationSearch" data-toggle="dropdown" id="menu1">
    <i class="fa fa-caret-down locationDropDownIcon"></i>
    <ul class="dropdown-menu locationsearchDropDown" role="menu"aria-labelledby="menu1">
        <li class="currentLocationElements">
        <img src="../../assets/website.png" class="currentLocationIcon" alt="currentLocation icon"/>
        <span class="currentLocation">Use current location<p class="currentLocationName">Carmel, Indianapolis</p></span>
        <hr id="hrforLocationDropDown">
        </li>
        <li class="recentLocationsHeading">RECENT LOCATIONS</li>
        <li><img src="../../assets/Icons/map-marker (1).svg" class="popularLocationsIcon"><p class="recentLocations">Hyderabad</p></li>
        <hr id="hrforLocationDropDown">
        <li class="popularLocationHeading">POPULAR LOCATIONS</li>
        <li><img src="../../assets/Icons/map-marker (1).svg" class="popularLocationsIcon"><p class="popularLocations">Hyderabad</p></li>
        <li><img src="../../assets/Icons/map-marker (1).svg" class="popularLocationsIcon"><p class="popularLocations">Vizag</p></li>
        <li><img src="../../assets/Icons/map-marker (1).svg" class="popularLocationsIcon"><p class="popularLocations">Vijayawada</p></li>
        <li><img src="../../assets/Icons/map-marker (1).svg" class="popularLocationsIcon"><p class="popularLocations">Delhi</p></li>
    </ul>
   </div>
   
    <div class="input-group-append">
        <button class="btn searchButton" type="button">
            <img src="../../assets/Icons/map-marker (1).svg" class="searchButtonIcon">
        </button> 
    </div>
</div>



<!-- <app-video-tutorial></app-video-tutorial> -->
