.navbar{
    background-color: black;
    width: 100%;
  }
  
  /* .form-inline
  {
    height:auto;
    width:auto;
  } */
  /* .logo{
    max-width:100%;
    width: 100%;
  } */
.searchBar
{
  border-radius: 48px 0 0 48px;
}
.searchBarDropDown
{
  max-width:100%; 
  width: 100%; 
  padding:10px;
}
.searchButton
{
  background-color: #808000;
  border-radius: 0 48px 48px 0;
  height:92%;
  margin-top:4px;
  top:0;
}
li:hover
{
   background-color: blue;
   color: white;

   
}
li{
    vertical-align:middle;
    height: 38px;
    display: flex;
    align-items: center;
}

/* .cards-presentation{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
} */


/* card css */
.cardbackground
{
  height: 150px;
  border-radius: 20px;
  width: 200px;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  padding: 8px;
  
}
.card-top{
  position:absolute;
  top:8px;
  width:95%;
  display: flex;
  align-items: center;
}
.card-bottom
{
  position:absolute;
  bottom:8px;
  width:90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerfontcolor
{
  color:white;
  font-size: 0.8em;
}
.headerfontcolorsmall{
  color:white;
  font-size: 0.6em;
}
.communitySearchBar
{
  border-radius: 48px 0 0 48px;
  width: 100%;
}
.communityMembers
{
  height:30px;
  width:30px;
  border-radius: 27px;
  position:absolute;
  bottom: 10px;
}