.cardbackground
{
    height: 150px;
    border-radius: 20px;
    width: 200px;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    padding: 8px;
    
}
.card-top{
    position:absolute;
    top:8px;
    width:95%;
    display: flex;
    align-items: center;
}
.card-bottom
{
    position:absolute;
    bottom:8px;
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerfontcolor
{
    color:white;
    font-size: 0.8em;
}
.headerfontcolorsmall{
    color:white;
    font-size: 0.6em;
}
/* card css */
