<div *ngIf="communityData"class="cards-presentation width-restrict-002">
    <div *ngFor="let group of communityData.groups">
        <a routerLink='/communityinfo'>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="mt-3">
                    <div class="card cardbackground" [style.background-image]="'url('+group.cover+')'">
                      <div class="card-top">
                          <img class="img-fluid" style="height:50px; width:50px; border-radius: 27px;" src={{group.avatar}} alt="notfound">
                          <div style="display: inline-block;" class="ml-2">
                              <b class="headerfontcolor">{{group.group_name}}</b>
                              <br>
                              <small class="headerfontcolor">{{group.time_text}}</small>
                          </div>
                      </div>
                      <div class="card-bottom">
                          <div style="position:relative; width:50%; height: 50px;">
                                <img *ngFor="let image of group.members.slice(0,3); let i = index" class="img-fluid" style="height:30px;width:30px;border-radius: 27px;position:absolute;
                                bottom: 10px;" [style.left]="(i*15)+'px'" src="{{image.avatar}}" alt="notfd">
                          </div>
                          <div>
                              <span class="fa fa-list-alt headerfontcolor">{{group.post_count}}</span>
                              <span class="ml-2 fa fa-comment-o headerfontcolor">{{group.chat_count}}</span>
                          </div>
                      </div>
                    </div>
               </div>
            </div>
        </a>

</div>
</div>
