.modal-header{
    border: 0;
    padding: 0;
}
.modal-body{
    padding: 0;
    height: 17.5rem;
}
.modal-dialog
{
  height:100%;
}
.modal-content{
  border-radius: 1.875rem;
  height:53%;
}

.modal-lg
{
  max-width: 37.5rem;
}
.close{
    right:0;
    z-index: 1;
    margin:1.25rem;
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: white; 
     width: 1.25rem; 
     height: 1.25rem;
     border-radius: 1.25rem;
}
.videoSize{
 width: 100%;
 height: 100%;
 border-radius: 1.875rem;
}
