<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
          <div>
            <button type="button" class="close position-absolute" data-dismiss="modal" aria-label="Close" (click)="onClose()">
                <div aria-hidden="true" class="mb-1">&times;</div>
            </button>
          </div>
        <div class="modal-body">
            <video  controls #iframe class="videoSize"
            src="../../assets/videoplayback.mp4"
            frameborder="0" allowfullscreen>
        </video>
        </div>
      </div>
    </div>
</div>